<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Users {{ title }}!
  </h1>
  <div class='menu d-flex justify-content-start'>
  
    <a routerLink=''routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a routerLink='cart' routerLinkActive='active'>Cart</a>

  </div>
  
  <!-- <h2>Count:{{counter}}</h2> -->
  <div class="container-fluid">
      <router-outlet></router-outlet>
    <!-- <button class='btn btn-success'>Button</button> -->
  </div>
<!-- <app-new [name]='title'>
  <p class='.p'>sendData-{{content}}</p>
  <div>test</div>
</app-new>
<app-counter (boolEvent)='changeCount($event)'></app-counter>
<app-parent></app-parent> -->